* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1231x1920/6d63009e449571f87306bdf2b526e3ff/photo-1669183213616-6fcc8a3e2226.jpg") #000;
  background-size: cover;
}
input,
textarea,
button {
  font-size: inherit;
}

textarea {
  font-family: inherit;
  resize: none;
}

button {
  border: none;
  background-color: inherit;
}

