* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}
input,
textarea,
button {
  font-size: inherit;
}

textarea {
  font-family: inherit;
  resize: none;
}

button {
  border: none;
  background-color: inherit;
}