.lists {
    display: flex;
    gap: 10px;
    overflow: scroll;
    padding: 10px;
}

.lists__list {
    background-color: #EBECF0;
    border-radius: 4px;
    min-width: 270px;
    height: fit-content;
    padding: 10px;
}

.lists__add-card {
    display: flex;
    justify-content: flex-start;
    gap: .3rem;
    width: 100%;
    padding: 5px 15px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    color: #77787b;
}

.lists__add-card:hover {
    color: #4f5053;
    background-color: #e3e3e7;
}

.lists__add-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
    min-width: 200px;
    height: 100%;
    padding: 5px 15px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2b2c2e79;
}

.lists__add-list:hover {
    background-color: #858992ba;
}

i {
    cursor: pointer;
}