.lists {
    display: flex;
    gap: 10px;
    overflow: scroll;
    height: 100vh;
    padding: 10px;
}

.lists__list {
    background-color: #EBECF0;
    border-radius: 3px;
    min-width: 270px;
    height: fit-content;
    padding: 8px;
}

.lists__add-card {
    display: flex;
    justify-content: flex-start;
    gap: .3rem;
    width: 100%;
    padding: 5px 15px;
    margin: 10px 0 0 0;
    border-radius: 3px;
    color: #5E6C84;
    cursor: pointer;
}

.lists__add-card:hover {
    color: #182A4E;
    background-color: #DADBE3;
}

.lists__add-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
    min-width: 200px;
    height: fit-content;
    padding: 13px 15px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ffffff30;
}

.lists__add-list:hover {
    background-color: #ffffff4f;
}

i {
    cursor: pointer;
}