.lists {
    display: flex;
    gap: 10px;
}

.lists__list {
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    width: 200px;
    padding: 10px;
}

.lists__name {
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
}

.lists__name:hover {
    border: 1px solid rgb(251, 199, 199);
}

i {
    cursor: pointer;
}