.header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.boards {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  color: #fff;
  overflow: auto;
}

.boards__title {
  padding: 10px 20px;
}

.boards__link {
  border-radius: 4px;
  padding: 10px 20px;
  min-width: 100px;
  cursor: pointer;
}

.boards__link:hover {
  background-color: #ffffff26;
}
