* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boards {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 20px 30px;
}

.board-link {
  min-width: 100px;
  cursor: pointer;
}

.lists {
  display: flex;
  gap:10px;
}

.list {
  background-color: rgb(229, 229, 229);
  border-radius: 20px;
  width: 200px;
  padding: 10px;
}

.card {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(67, 67, 67);
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
}