.card__section {
    padding: 10px;
}

.card__section_checklist {
    display: flex;
    flex-direction: column;
}

.card__section__headtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.options--button {
    cursor: pointer;
    padding: 10px 14px;
    border: none;
    border-radius: 3px;
    width: fit-content;
}

.body__input--background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.body__input--main {
    position: relative;
    z-index: 5;
}

.card__section--desc {
    margin-left: 30px;
}

.card__comments__options--delete {
    font-size: 12px;
    color: #5e6c84;
    cursor: pointer;
    margin-left: 20px;
}

.card__comments__options--delete:hover{
    text-decoration: underline;    
}

.card__section__headtitle--button {
    background-color: #091e420a;
}

.card__section__headtitle--button:hover {
    background-color: #DADBE3;
}

.card__section__comm--button,
.card__section__desc--button {
    background-color: #0279C0;
    color: #FFF;
}

.card__section__comm--button{
    margin-bottom: 10px;
}

.card__section__headtitle--maintitle {
    display: flex;
    align-items: center;
}

.card__section__headtitle--title {
    color: #172b4d;
    cursor: pointer;
    font-size: larger;
    margin: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.card__section__comm--text {
    min-height: 20px;
    background-color: #FFF;
    width: 100%;
    padding: 8px 12px;
    margin: 5px;
    overflow-wrap: break-word;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    border-style: none;
    border-radius: 3px;
}

.card__comment{
    display:flex ;

}
.card__comments__head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__comments--icon{
    margin-top: 5px;
    margin-left: 5px;
}

.card__comments--date {
    margin: 5px;
    font-size: smaller;
}

.card__comments--name{
    margin: 5px;
    font-weight: 700;
}

.card__comments__options {
    width: auto;
    display: flex;
    justify-content: left;
}

.card__comments__main{
    width: 100%;
    margin-bottom: 15px;
}