.card--background {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.323);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.card__total {
    height: fit-content;
    position: relative;
    margin-top: 60px;
    border-radius: 3px;
    background-color: #ebecf0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: fit-content;
}

.card__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.card__head--archive{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 15px;
    align-items: center;
}

.card__head__title--title {
    margin-left: 15px;
}

.card__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card__body {
    width: 550px;
    margin-left : 16px;
    display: flex;
    flex-direction: column;
}

.card__aside {
    color: #172b4d;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: 160px;
}

.options__element {
    font-size: small;
    font-style: italic;
    margin: 10px;
    font-weight: bold;
    color: #0279C0;
}

.options__element:hover {
    cursor: pointer
}

.card__options--textarea {
    min-height: 100px;
    background-color: #FFF;
    width: 100%;
    padding: 8px 12px;
    margin: 5px;
    overflow-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    border-style: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0px var(--ds-border-focused, #0079bf);
    transition: box-shadow 0.2s;
}

.card__options--textarea:focus {
    box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0079bf);
  outline: none;
}

textarea {
    resize: none;
}


.card__head--archivebackground{
    background-color: var(--ds-background-warning, #FDFAE5);
    background-image: linear-gradient(to bottom right, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 25%, transparent 25%, transparent 50%, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 50%, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 75%, transparent 75%, transparent);
    background-size: 14px 14px;
    width: 95%;
    height: 100%;
    z-index: 10;
}

.card__head--X{
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 50%;
    background-color: #091e4206;
    transition-property: background-color;
    transition-duration: 0.4s;
}
.card__head--X:hover {
    background-color: #091e421f;;
}
