.card--background {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.323);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.card__total {
    height: fit-content;
    position: relative;
    margin: 100px 200px;
    border-radius: 10px;
    background-color: #ebecf0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: fit-content;
}

.card__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.card__head--archive{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 15px;
    align-items: center;
}

.card__head__title--title {
    margin-left: 15px;
}

.card__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card__body {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.card__aside {
    color: #172b4d;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: 160px;
}


.card__comments__options {
    width: auto;
    display: flex;
    justify-content: left;
}

.options__element {
    font-size: small;
    font-style: italic;
    margin: 10px;
    font-weight: bold;
    color: #0279C0;
}

.options__element:hover {
    cursor: pointer
}

.card__options--textarea {
    min-height: 100px;
    background-color: #FFF;
    width: 100%;
    padding: 8px 12px;
    margin: 5px;
    overflow-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    border-style: none;

}

textarea {
    resize: none;
}

.card__comments__head {
    display: flex;
    flex-direction: row;
}

.card__comments--name,
.card__comments--date {
    margin: 5px;
    font-size: smaller;
}

.options--button {
    cursor: pointer;
    padding: 10px 14px;
    border: none;
    border-radius: 3px;
    margin: 8px 4px 0 0;
    width: fit-content;
}

.card__head--archivebackground{
    background-color: var(--ds-background-warning, #FDFAE5);
    background-image: linear-gradient(to bottom right, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 25%, transparent 25%, transparent 50%, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 50%, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 75%, transparent 75%, transparent);
    background-size: 14px 14px;
    width: 95%;
    height: 100%;
    z-index: 10;
}